{% load pages_tags i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<!--
	**************************************************************
	*                                                            *
	*       Thanks for your interest in the source code!         *
	* Designed and hand coded by John O'Nolan @ LyricalMedia.com *
	*                                                            *
	**************************************************************
-->

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}" /> 
    <meta name="description" content="{% block meta_description %}{% endblock %}" /> 
 
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url blog_post_feed "rss" %}" />
    <link rel="alternate" type="application/atom+xml" title="Atom" href="{% url blog_post_feed "atom" %}" />
        
    <title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>

	<link rel="stylesheet" href="{{ MEDIA_URL }}css/stylesheet.css" type="text/css" media="screen" /> 
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js">
    </script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/cufon-yui.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/CartoGothic_Std_400-CartoGothic_Std_700-CartoGothic_Std_italic_400-CartoGothic_Std_italic_700.font.js"></script>
	<script type="text/javascript">
		Cufon.replace('h1')('h2')('h4')('p');
	</script>
</head>
<body id="{% block body_id %}{% endblock %}">
	<div id="wrapper">
		<div id="header">
		    {% page_menu "pages/menus/primary.html" %}

			<span id="navnumber" class="number">000</span>
			<!-- <img id="logo" src="images/logo.png" alt="O'No! Typography, The Best Place on The Web" /> -->
			<div class="logo"><span class="o">Rich</span><br/>atkinson
			    <h1><span class='caps'><span class='o'>Sydney </span>Web Developer</span></h1>
			</div>
			<h2><span class="o">&quot;</span>(<span class="o">really</span>) stunning web experiences<span class="o">!&quot;</span></h2>
			<div class="clearfix"></div>
		</div><!--header-->
		<div id="content">
		{% block content %}
			<div class="box">
				<h3>{% block title %}{% endblock %}</h3><span class="number">001</span>
				<div class="clearfix"></div>
				<div class="sidenote left third">
					<p class="o">001. Freelancer</p>
					<p>15 years as a independent web professional</p>
				</div>
				<div class="right twothirds">
					<p>I am a specialist at building web sites and applications to help businesses smash their goals.</p>
					<p>If you need a competent, reliable web specialist for your project you should contact me to discuss your needs.</p>
				</div>
			</div><!--about-->
			
			<div class="box left third">
				<h3>Portfolio</h3><span class="number">002</span>
				<div class="clearfix"></div>
				<p>Unlike a graphic designer, as a <strong>web developer</strong> my portfolio is mostly behind login screens or firewalls.</p>
				<p>During my career I have worked on federal government and banking systems, including critical infrastructure.</p>
				<p>Please see my <strong>portfolio page</strong> for some recent projects, mostly built using <strong>Python</strong>, <strong>Django</strong>, <strong>Javascript</strong> and Web Technologies.</p>
			</div><!--portfolio"-->
			<div class="box left third">
				<h3>Blog</h3><span class="number">003</span>
				<div class="clearfix"></div>
				<p><strong>My Blog</strong> covers a number of topics that are interesting to me.</p>
				<p>Most commonly, programming related topics include <strong>Python</strong>, <strong>Django</strong> &amp; <strong>Javascript</strong>.</p>
				<p>Sometimes I also write about <strong>business</strong> and <strong>startups</strong>.</p>
				<p>As this is a personal blog, I may also write about <strong>hobbies</strong>.</p>
			</div><!--blog"-->
			<div class="box last third">
				<h3>Contact</h3><span class="number">004</span>
				<div class="clearfix"></div>
				<p>Contact me <strong>today</strong> to discuss your project and obtain a free quotation.</p>
				<dl>
    				<dt>email</dt>
    				    <dd><script type="text/javascript">
                            <!--
                            ea=('atkinsonr@' + 'gmail.com');document.write('<a href="mailto:' + ea + '">' + ea + '</a>');
                            -->
                            </script>
                            <NOSCRIPT><em>Email address protected by JavaScript.<br/>
                                Please enable JavaScript to contact me.</em>
                            </NOSCRIPT>
                        </dd>
                    <dt>twitter</dt><dd><a href="http://twitter.com/#!/tkinson">@tkinson</a></dd>
                    <dt>telephone</dt><dd>+61 425 261 410</dd>
                    <dt>location</dt><dd>Suite 20, 44 Bridge St<br/>Sydney 2000 NSW</dd>
                </dl>
			</div><!--contact"-->
			
		{% endblock content %}
		</div><!--content-->
	</div><!--wrapper-->
	<div id="footer">
		<div class="inner">
			<div class='colorco'>&nbsp;</div>
            <div class='colorco'>&nbsp;</div>
            <div class='colorco'>&nbsp;</div>
            <div class='colorco right'>&nbsp;</div>

			<div class="clearfix"></div>
			<div class="credits right">&copy; <span class="o">Rich Atkinson</span> 2011</div>
			<div class="credits left">Hat tip to <a href="http://john.onolan.org">John <span class="o">O’No!</span>an</a> for the template</div>
		</div>
	</div><!--footer-->
<script type="text/javascript">Cufon.now();</script>
</body>
</html>