/*--------------------------------------|
| Site: http://www.smashingmagazine.com |
| Author: John O'Nolan                  |
| Author URI: http://john.onolan.org    |
| Type: Screen                          |
| Date: June 2009                       |
|--------------------------------------*/

/*--- CSS Reset ---*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font-weight: inherit;
   font-style: inherit;
   font-size: 100%;
   font-family: inherit;
   vertical-align: baseline;
}
:focus {
   outline: 0;
}
body {
   line-height: 22px;
}
ul {
   list-style: none;
}
table {
   border-collapse: separate;
   border-spacing: 0;
}
caption, th, td {
   text-align: left;
   font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
   content: "";
}
blockquote, q {
   quotes: "" "";
}

.left {float:left}
.right {float:right;margin-right:0!important;}
.last {float:right;margin-right:0!important;}
	
.clearfix:after {
	content: ".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
	}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */


/*--- Common ---*/

body {
	font-family:Arial, Verdana, sans-serif;
	color:#fff;
	background:#474747 url(../images/nav-bg.png) top left repeat-x
}

h1 { font-size:48px; line-height:64px; letter-spacing: 0px; }

h2 {
	width:320px;
	float:left;
	font-size:40px;
	line-height:58px;
	letter-spacing:-1px;
	margin:45px 0 0 12px;
	text-indent:-15px;
}
h3 {
	float:left;
	margin:0 0 30px 0;
	font-family:Times, Georgia, Serif;
	font-weight:normal;
	font-size:30px;
	line-height:30px;
	width:80%;
}

h4 {float:left;margin:0 0 20px 0;font-size:20px;}

p {font-size:16px;line-height:24px;margin-bottom:24px;float:left;}

em {font-style:italic;border-bottom:1px dashed;}
strong {font-weight:bold;color:#ff9000;text-transform:uppercase;}

a       {color:#fff;border-bottom:1px solid; text-decoration: none;}
a:hover {color:#ff9000;}

dl  { position: relative;}
dt  { float: left; width: 90px; text-align: right;}
dd  { margin-left: 100px; }

.o {color:#ff9000}

.number { float:right; color:#fff; font-family:Times, Georgia, Serif; font-size:30px; line-height:30px; }


/*--- Layout ---*/

#wrapper {
	width:960px; 
	margin:0 auto; 
	background:url(../images/radial-bg.png) top left no-repeat;
}


/*--- Nav ---*/

#nav {
	list-style:none;
	margin:0;
	padding:7px 0 0 0;
	font-size:20px;
	letter-spacing:-1px;
	position:relative;
	z-index:50;
}

#nav li {float:left;margin:0 72px 0 0;}
#nav li a {text-decoration:none;padding:3px 10px;border:none;}
#nav li#first a {padding-left:0}
	

/*--- Header ---*/

#header {height:375px}
.logo { float:left; width: 590px; margin:65px 0 0 0; 
       font-size:125px; font-weight: 900; line-height:100px; letter-spacing: -10px;}

/*--- Content ---*/

.box {
	float:left;
	width:100%;
	margin:30px 30px 0 0;
	padding:10px 0 0 0;
	background:url(../images/box-bg.png) top left repeat-x
}
.small { width: 260px;}
.big   { width: 670px;}
.third { width: 300px;}
.twothirds { width: 630px;}
.caps { text-transform:uppercase; }
.float-right { float: right; }
.float-left { float: left; }
.padding-right { margin-right: 12px;}

.sidenote p {
	text-align:right;
	font-size:20px;
	line-height:24px;
	margin:-1px 0 24px 0;
	float:none;
}


/*--- Paging ---*/
.paging {width: 400px; margin-left: auto;margin-right: auto;}
.paging li {padding:0 5px; margin:0 !important;}
.paging * {display:inline;}


/*--- Footer ---*/

#footer {
	float:left;
	width:100%;
	height:355px;
	margin:50px 0 0 0;
	background:url(../images/footer-bg.png) bottom left repeat-x;
}
.inner {width:960px;margin:0 auto;padding:40px 0 0 0;}
.colorco {margin:0 53px 10px 0; width:200px;float:left}

.credits {margin:35px 0 0 0;font-size:13px}
.credits a {text-decoration:none;}

.dsq-reply { display:block; }

/* Keep style inside blog posts clean */
.right h2, .right h3, .right p  { float: none; width: inherit; }
.right h2, .right h3            { margin: 12px; }
.right p                        { margin: 3px 0px 6px 0px;}

/* Forms */

label                   { float:left; width: 150px; text-align: right; padding-right: 12px; }
input, textarea, select { padding: 6px; margin-bottom: 12px;}
.button                 { position: relative; left: 160px;}